html {
	height: 100%;
	font-size: 100%;
	font-family: "Poppins", sans-serif;
	
}

body {
	background: url("https://cdn.hipwallpaper.com/m/28/83/WkDR2H.jpg" );
  background-position: center;
	background-repeat: repeat;
	background-size: cover;
	margin: 0;
	color: black;
	text-align: center;
	font-size: 1.1rem;
  font-family: Comic Sans MS;
 }
main {
	margin-left: 6.25rem;
	margin-right: 6.25rem;
  font-family: Comic Sans MS;
}
h1{
  
  position: center;
  text-align: center;
  font-size: 3.5rem;
  text-shadow: 0 4px 3px rgb(61,55,55),
		0 8px 13px rgb(61,55,55), 0 2px 2px rgb(61,55,55);
  
}

/* navs*/

nav {
	padding: 1rem;
	text-align: center;
}
ul {
	padding-inline-start: 0;
}

li {
	display: inline-block;
}

.nav-type {
	padding-right: 1.75rem;
	padding-left: 1.5rem;
	border-right: 2px solid black;
	font-size: 1.3rem;
	font-weight: lighter;
}
#lst {
	border-right: none;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-shadow: 0 4px 3px rgb(61,55,55),
		0 8px 13px rgb(61,55,55), 0 18px 23px rgb(61,55,55);
}

/* image */

img {
	max-width: 90%;
	height: auto;
	display: block;
	margin: 0 auto;
  border-radius: 60%;
  display: block;
  -webkit-box-shadow: 2px 5px 11px 4px rgb(61,55,55);
	box-shadow: 2px 5px 11px 4px rgb(61,55,55);
	
}

.img-div {
	padding-top: 1.25rem;
	padding-bottom: 100.5rem;
}

#img-caption {
	text-align: center;
	margin: 0 auto;
	padding: 0.8rem 0 1.5rem 0;
	width: 90%;
	font-size: 0.9rem;
}
  /* sections */
  
  section {
	;
	padding: 2rem;
	margin: 2rem;
	color: black;
	line-height: 1.5;
	text-align: justify;
	-webkit-box-shadow: 2px 5px 11px 4px rgb(61,55,55);
	box-shadow: 2px 5px 11px 4px rgb(61,55,55);
}

.section-header {
	text-align: left;
	padding-left: 1.25rem;
}

#awards {
	padding-right: 3.5rem;
	padding-left: 3.5rem;
  text-align: left;
}
/* footer */


#tribute-link {
	color: blue;
}

#tribute-link:hover {
	text-decoration: underline;
	text-shadow: none;
}
#creator {
	text-shadow: none;
  padding: 1.2rem;
	
}






	